html
    include head.pug
    body
        h1 
            a(href="/") ApplauseBot
        p A live soundboard for calls
            if email
                 span(style="color: #AAAAAA") - #{email}
        p(style="color: #ff0000") #{error}
        if status && status === "callStarted"
            p(style="color: #33cc33") Call started. 
                - var url = newCallUrl
                a(href=`${url}`) Link
        p(style="color: #ff0000") #{error}
        form(action="/startcall", method="POST")
            label(for="number")
                input(
                    name="number"
                    type="text"
                    required
                    placeholder="ex: +14086380968,,7323580#"
                )
                button(type="submit" id="submit-dream") Start a Call                    
    //- include foot.pug
